.deals {
    width: 100%;
    padding: 10px 0;
    background-color: #028082;
    text-align: center;
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    span {
        color: white;
        font-weight: 500;
    }
}