.textAnimation{
    color: #484848;
    font-size: 70px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer
  }
  .textAnimation span{
    transition: .5s linear
  }
  .textAnimation:hover span:nth-child(1){
    margin-right: 5px
  }
  .textAnimation:hover span:nth-child(1):after{
    content: "'";
  }
  .textAnimation:hover span:nth-child(2){
    margin-left: 30px
  }
  .textAnimation:hover span{
    color: #077779;
    text-shadow: 0 0 10px #34adaf,
                 0 0 20px #5fbbbd, 
                 0 0 40px #6ec4c5;
  }


  @media (max-width: 739px) {
    .textAnimation {
      font-size: 55px;
    }
  }